<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Server port="8005" shutdown="SHUTDOWN">

	<Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>
	<Listener className="org.apache.catalina.core.JasperListener"/>
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

	<GlobalNamingResources>
		<Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
	</GlobalNamingResources>
	
	<Service name="Catalina">
		<Connector URIEncoding="UTF-8" connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>
		<Connector port="8009" protocol="AJP/1.3" redirectPort="8443"/>
		<Engine defaultHost="localhost" name="Catalina">
			<Realm className="org.apache.catalina.realm.MemoryRealm" pathname="../../src/test/tomcat7/tomcat-users.xml"/>
			<Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log." suffix=".txt" />
				<Context docBase="../../demo" path="/demo" reloadable="true">
					<!-- this shows the issue, with default settings -->
					<Valve className="org.apache.catalina.authenticator.BasicAuthenticator" cache="true" changeSessionIdOnAuthentication="true"/>
					<!-- this makes the issue even worse: new session ID for each request
					<Valve className="org.apache.catalina.authenticator.BasicAuthenticator" cache="false" changeSessionIdOnAuthentication="true"/>
					-->
					<!-- these combinations make the tests pass
					<Valve className="org.apache.catalina.authenticator.BasicAuthenticator" cache="true" changeSessionIdOnAuthentication="false"/>
					<Valve className="org.apache.catalina.authenticator.BasicAuthenticator" cache="false" changeSessionIdOnAuthentication="false"/>
					-->
					<!-- this circumvents the issue, you need to manually merge demo-tests.jar into
									your ${MAVEN_REPO}/org/apache/tomcat/embed/tomcat-embed-core/(your-version-here)/tomcat-embed-core-(your-version-here).jar
									it's hackish, but it works
					<Valve className="com.example.tc7.SessionIDFixerValve" />
					 -->
				</Context>
			</Host>
		</Engine>
	</Service>
</Server>