<?xml version="1.0" encoding="UTF-8"?>
<web-app id="demo" version="3.0" metadata-complete="true"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<description>Demo servlet with user sessions</description>
		<servlet-name>demo</servlet-name>
		<servlet-class>com.example.web.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/public/*</url-pattern>
		<url-pattern>/protected/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public</web-resource-name>
			<url-pattern>/public/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<display-name>AuthConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>AuthenticatedResourceCollection</web-resource-name>
			<url-pattern>/protected/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>authenticated users</description>
			<role-name>Authenticated</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>Authenticated</role-name>
	</security-role>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>